@import "tailwindcss";
@config "../tailwind.config.cjs";

.card{
    @apply 
    bg-surface rounded-2xl p-6 border border-border hover:shadow-md transition
}

.heading{
    @apply text-3xl sm:text-4xl font-semibold text-text
}

.subheading{
    @apply
    mt-4 text-muted text-lg
}